<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/CSS/2.css" />
    <style>
        nav { position: fixed; top: 0; width: 100%; z-index: 50; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }
        body { padding-top: 80px; }
    </style>
</head>
<body>
    <nav>
        <div class="relative w-full mx-auto flex flex-wrap items-center justify-between bg-blue-100 px-4 lg:px-0">
            <a href="https://cea.nic.in/?lang=en" class="py-4 pr-10">
                <img src="/static/Assest/elct_ministry.png" class="w-36" alt="Ministry Logo"/>
            </a>
            <ul class="hidden lg:flex space-x-8 text-center">
                <li class="text-gray-600 py-4 hover:text-blue-500 font-semibold"><a href="/">Home</a></li>
                <li class="text-gray-600 py-4 hover:text-blue-500 font-semibold"><a href="/imp-Links">Important Links</a></li>
                <li class="text-gray-600 py-4 hover:text-blue-500 font-semibold"><a href="/distribution">Distribution</a></li>
                <li class="text-gray-600 py-4 hover:text-blue-500 font-semibold"><a href="/about-us">About Us</a></li>
                <li class="text-gray-600 py-4 hover:text-blue-500 font-semibold"><a href="/help-us">Help Desk</a></li>
            </ul>
            <div class="flex space-x-8 mx-4">
                <img src="/static/Assest/DigitalIndia.png" class="w-28" alt="Digital India">
            </div>
        </div>
    </nav>
    <div class="logo-container">
        <img src="/static/Assest/CEA_logo_for_English.webp" alt="Logo 1" class="logo1">
        <img src="/static/Assest/DigitalIndia.png" alt="Logo 2" class="logo2">
        <img src="/static/Assest/627bc505909d95f734d28f52.png" alt="Logo 3" class="logo3">
    </div>
    <h1 class="main-heading">Power Predictor</h1>
    <div class="container">
        <form id="loginForm">
            <h2>Login-form</h2>
            <div class="input-field">
                <input type="text" required />
                <label>Enter User Id</label>
            </div>
            <div class="input-field">
                <input id="password" type="password" required />
                <label>Enter password</label>
                <span id="togglePassword" class="eye-icon">
                </span>
            </div>
            <div class="forget">
                <label for="Save-login">
                    <input type="checkbox" id="Save-login" />
                    <p>Save login information</p>
                </label>
                <a href="#">Forgot password?</a>
            </div>
            <button type="submit" name="login_button">Log In</button>
        </form>
    </div>

    <script src="/static/EjavaScript/3.js"></script>
</body>
</html>